body {
  background: azure;
}


/* ===== CardSheet Styling ===== */
.cardSheet {
	position: relative;
	z-index: 1;
}


/* ===== CardView Styling ===== */

.cardViewOuter {
	position: fixed;
	z-index: 2;
	margin-left: 40%;
	margin-top: 140px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cardViewInner {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.cardViewInner button {
	align-self: center;
}
