
/* ========== Global ========== */
body {
  background: azure;
  min-height: 100vh;
}

p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

ul {
	list-style: none;
}

img {
	max-width: 250px;
}

#root {
	min-width: 750px;
}



/* ========== Main Containers  ========== */
.mainCon {
	min-height: calc(100vh - 180px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

section {
	margin-left: 60px;
}


/* ========== Header  ========== */
header {
	height: 180px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: black;
}

.headerCon {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.subtitleCon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-top: 2px;
	margin-left: 20px;
}

.titleCon h1 {
	font-weight: 800;
	font-size: 50px;
	color: azure;
}

.subtitleCon h3 {
	margin-top: 0;
	margin-bottom: 0;
	color: azure;
}

nav {
	min-width: 150px;
	min-height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	background-color: azure;
}

nav > * {
	margin: 5px 20px 5px 20px;
}




/* ========== Footer  ========== */
footer {
	margin: 40px 20px 20px 20px;
	border: 1px solid black;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;

}



/* ========== Card SHEET ========== */
.cardSheet {
	position: relative;
	z-index: 1;
}



/* ========== Card VIEW ========== */
.cardViewOuter {
	position: fixed;
	z-index: 2;
	margin-left: 40%;
	margin-top: -200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cardViewInner {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.cardViewInner button:first-child {
	align-self: flex-start;
}

.cardViewInner button:last-child {
	align-self: center;
}

.viewLow {
	margin-top: 190px;
}

/* NOTE: Try to refactor the top margins as a %, like the left margin */


/* ========== DASHBOARD  ========== */
#dashboard {
	display: flex;
	justify-content: stretch;
	height: 100%;
	min-width: 700px;
}


.leftDash {
	margin: 20px 20px -20px -40px;
	width: calc(100% - 300px);
	min-height: calc(100vh - 220px);	
}

.userNav {
	height: 100px;
	width: 100%;
	border: 1px black solid;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.divBtn {
	width: 100px;
	height: 60px;
	background-color: cadetblue;
	color: azure;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rightDash {
	min-height: calc(100vh - 220px);
	width: 300px;
	left: calc(100% - 320px);
	margin: 20px 0px -20px 0px;
	position: fixed;
	z-index: 1;
	background-color: lightgrey;
}

.rightDash h4 {
	left-margin: 20px;
}



/* ========== DASHBOARD -- INNER LEFT  ========== */
.innerLeftDash {
	border: 1px black solid;
	height: calc(100% - 120px);
	margin-top: 20px;
}

.innerLeftDash > * {
	margin-left: 20px;
}



/* ========== DASHBOARD -- CARDS  ========== */
.separate {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.listCardCon {
	margin-bottom: 20px;
	margin-left: -20px; 
}




/* ========== DASHBOARD -- DECKS  ========== */
.deckListItem h4 {
	margin-bottom: 5px;
}

.deckListItem button {
	margin-bottom: 5px;
}



/* ========== DASHBOARD -- EDIT DECK FORM  ========== */
/*.editDeckForm {
	margin-top: -25px;
}*/

.LDsubtitle {
	margin-bottom: 5px;
}

.smallOnEdit {
	font-size: 12px;
}

.deckDeleteBtn {
	margin-left: 100px;
}



/* ========== PROCESSING MODALS  ========== */
.processing {
	position: absolute;
	margin: auto, auto;
	z-index: -1;
	opacity: 0.3;
}



/* ========== MEDIA QUERIES  ========== */
@media (max-width: 755px) {
	.rightDash {
		position: sticky;
		max-height: 800px;
		text-overflow: scroll;
	}
}
